/* Базовые цвета */
html {
  font-family: Verdana, Geneva, sans-serif;
}
html h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #3c3c3c;
  text-align: center;
  margin-bottom: 1rem;
}
html h2 {
  font-size: 16px;
  color: #3c3c3c;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
}
html p {
  font-size: 16px;
  color: #3c3c3c;
  font-style: italic;
  text-align: center;
  line-height: 1.5;
}
html a:hover {
  color: white;
}
html a:focus {
  outline: none;
  text-decoration: none;
}
html a {
  text-decoration: none;
  color: white;
}
section {
  padding: 5rem 0;
}
.main-first {
  height: 900px;
  display: block;
  position: relative;
}
.main-first .logo img {
  margin-top: 30%;
  width: 100%;
}
.main-first .navbar {
  background: rgba(0, 0, 0, 0.4);
  height: 60px;
}
#about-us,
#business-lunch {
  background-color: white;
  position: relative;
  z-index: 1;
}
#about-us:before,
#business-lunch:before {
  background-color: inherit;
  content: '';
  display: block;
  height: 3.2rem;
  right: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 100%;
  box-shadow: 0px -10px 18px 0px rgba(225, 225, 225, 0.5);
}
#about-us:after,
#business-lunch:after {
  background-color: inherit;
  content: '';
  display: block;
  height: 3.2rem;
  right: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100% 0;
  box-shadow: 0px 10px 18px 0px rgba(225, 225, 225, 0.5);
}
#menu,
#corporate {
  background-color: white;
  position: relative;
  z-index: 1;
}
#menu:before,
#corporate:before {
  background-color: inherit;
  content: '';
  display: block;
  height: 3.2rem;
  right: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 100%;
  box-shadow: 0px -10px 18px 0px rgba(225, 225, 225, 0.5);
}
#menu:after,
#corporate:after {
  background-color: inherit;
  content: '';
  display: block;
  height: 3.2rem;
  right: 0;
  position: absolute;
  left: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  bottom: 0;
  transform: skewY(1.5deg);
  transform-origin: 0 0;
  box-shadow: 0px 10px 18px 0px rgba(225, 225, 225, 0.5);
}
.parallax-img {
  height: 600px;
}
#menu img {
  padding: 2rem 1rem 0 1rem;
}
#business-lunch-fotorama {
  margin-top: 4.5rem;
}
#business-lunch p {
  text-indent: 50px;
  text-align: justify;
}
#business-lunch a {
  color: #3c3c3c;
}
#contacts img {
  width: 100%;
}
.footer {
  background-color: #2c2c2c;
  padding: 1rem 0;
  width: 100%;
  display: table;
}
.footer p {
  display: table-cell;
  text-align: center;
  color: white;
  vertical-align: middle;
}
.prev {
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 3rem;
  border: none;
  background: url(../img/prev.png) center no-repeat;
  background-size: 100%;
  top: 50%;
  left: 20px;
  transform: translateX(100%);
  transform: translateY(-50%);
}
.next {
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 3rem;
  border: none;
  background: url(../img/next.png) center no-repeat;
  background-size: 100%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.wave {
  background: green;
  height: 50px;
  position: relative;
}
